
# ----
# Uses default workspace specified in DEFAULT profile in ~.databrickscfg
#
# see run_tests.sh
#  export MLFLOW_TRACKING_URI=databricks

# ----

# test workspace directory
ws_base_dir: /Users/first.last@mycompany.com/tmp/test-mlflow-exim

# test DBFS directory
dbfs_base_export_dir: dbfs:/tmp/first.last@mycompany.com/test-mlflow-exim

# test registered model name
model_name: andre-test-mlflow-exim-Iris-Train

# test prefix for imported runs
run_name_prefix: andre-test-mlflow-exim

# ---- toggle either for existing or new cluster

# - - toggle option 1 - existing cluster

# cluster: 0318-151752-abed99

# - - toggle option 2 - new cluster

cluster: { 
  cluster_name: test-mlflow-export-import,
  spark_version: 12.0.x-cpu-ml-scala2.12,
  node_type_id: i3.xlarge,
  num_workers: 1,
  autotermination_minutes: 20,
}
